/* === Mobil (standard) === */

@media (max-width:450px){
    Body{
        background-color: var(--bgFarge);
        display:grid;
        grid-template-rows: 50px 1fr 1fr 5fr 300px;
        height: 100vh;
    } 

    #overskrift{
        text-align:left;
        margin-top:0;
        block-size: 40px;
        grid-row:1;
        font-family: var(--Overskrifts-font);
        font-size: 28px;
        text-align: center;
    }

    .CardGrid{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    grid-row: 4;
    row-gap: 0;
    column-gap: 0;
    }

    .Card{
    background-color: var(--Nyanse1);
    box-shadow: var(--Skygge);
    border-radius: 20px;

    display:flex;
    flex-direction:column;
    align-items:baseline;
    
    padding:20px;
    margin:12px;

    width:100%;
    padding-top:0;
    flex-direction: column;
    padding-left:25px;
    }

    .Knapper{
    border-radius: 5px;
    border-style:none;
    box-shadow: var(--Skygge);
    background-color: var(--Nyanse2);
    padding:10px;
    width: 100px;
    height: 40px;
    font-family: var(--Knappe-font);
    font-weight:bold;
    font-size: 15px;
    color:black;
    }

    .tekst{
    width: 95%;
    color: var(--subtext-color);
    font-family: var(--Underskrifts-font);
    width: 90%;
    font-size: clamp(15px, 5vw, 25px);
    margin-top:0;
    }
    .overskrift4{
    color: var(--heading-color);
    font-family:var(--Overskrifts-font);
    block-size: 10%;
    }

    .Bilde{
        width: 130px;
        max-height: 130px;
    }

    #Midtstillt{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .SpanGrid{
        display: flex;
        flex-direction: row;
    }

    .Forklaring{
        grid-row: 2;
        font-family: var(--Underskrifts-font);
        color:var(--subtext-color);
        margin-top:0;
        margin-left:10px;
        text-align: center;
        width:90%;
    }

    .Bilde2{
        max-width:100%;
        max-height: 100%;
    }

    .space{
        block-size: 100px;
        grid-row: 5;
    }

    .KildeNO{
        color:black;
        text-decoration: none;
    }

    .Utilgjengelig{
        position:flex;
        background-color: rgba(92, 90, 90, 0.675);
        left:20px;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        margin-top:14px;
    }
    #tekstSS{
        width:100%;
    }
}

/* === Desktop === */

@media (min-width:450px){
    body{
        background-color: var(--bgFarge);
    }
}