:root{
    --bgFarge:#e6e6e6;
    --Nyanse1:#f2f2f2;
    --Nyanse2:#ffffff;
    --Skygge:0px 8px 20px rgba(0, 0, 0, 0.12);
    --Gradient:linear-gradient(#e6e6e6,#ffffff);
    --Hover:#ededed;
    --Hover2:#e3e3e3;
    --Hover-tekst:black;
    --heading-color: #1f2933;
    --subtext-color: #6b7280;
    --Overskrifts-font:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    --Underskrifts-font:"Roboto", system-ui, sans-serif;
    --Knappe-font: sans-serif;
    --Marked-color:rgb(30, 28, 28);
}

@media (prefers-color-scheme: dark){
    
}
@media (max-width:450px){
    body{
        background-color: var(--bgFarge);
    }

    /*_______________________Navigationbar________________________*/

    .Navbar{
        position:fixed;
        bottom:0%;
        left:38%;
        transform: translateX(-50%);
    }

    .Navicon{
        display:flex;
        flex-direction: row;
        font-family: var(--Underskrifts-font);
        font-size: 15px;
    }
    
    #strek{
        width:130%;
    }

    #NavColor{
        background-color: var(--Nyanse2);
        width:130%;
        height: 100%;
    }

    .Iconflex{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        color:black;
    }

    /*_______________________Articles & MiniTeori________________________*/

    .overskrift4{
    color: var(--heading-color);
    font-family:var(--Overskrifts-font);
    block-size: 10%;
    }

    .tekst{
    width: 95%;
    color: var(--subtext-color);
    font-family: var(--Underskrifts-font);
    margin-top:0;
    font-size: clamp(15px, 5vw, 25px);
    }


}

@media (min-width:450px){
    body{
        background-color: var(--bgFarge);
        margin:0;
    }

    .Navbar{
        display:flex;
        background-color: var(--Nyanse2);
        grid-column: 1;
        grid-row: 1/16;
        background-color:  #EEF3F9;
        border: solid;
        border-color: #2E3A4F;

    }

    .Navicon{
        display:flex;
        flex-direction: column;
        gap:40px;
        padding:0;
        margin:0px;
        font-family: var(--Overskrifts-font);
    }

    
    #strek{
        display:none;
    }


    .Iconflex{
        display:flex;
        flex-direction: row;
        gap:35px;
        color:var(--Overskrifts-font);
        text-decoration: none;
        justify-content: left;

        padding: 10px;
        width: 100%;
        border-radius: 10px;
        transition: background-color 0.2s;
    }

    .MainNav{
        text-align: center;
        margin-bottom: 0;
        font-family: var(--Overskrifts-font);
    }

    .Iconflex:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}
