
/* === Mobil (standard) === */

@Media (max-width:450px){

    Body{
        display:grid;
        grid-template-rows: 50px 1fr 100px;
        height: 100vh;
        margin:0;
    }

    .Layout2{
        grid-row: 2;
    }

    #overskrift{
        text-align:left;
        margin-top:0;
        margin-left:10px;
        block-size: 40px;
        font-size: clamp(40px,12vw,50px);
    }

    .Gridboks{
        grid-row: 2;
        align-items: center;
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .Flexboks{
        display:flex;
        flex-direction: column;
    }

    .Bilde{
        width: 100px;
        border-radius: 20px;
    }

    .Tekst{
        font-size: 10px;
        font-family: var(--Overskrifts-font);
        color:black;
    }

    .Knapp{
        height: 130px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 15px;
        border-style: solid;
        border-color: white;
        border-width: 1.5px;
        background-color: transparent;
        
        position:relative;
    }

    .Knapp:hover{
        background-color:rgb(229, 210, 210);
        transform: scale(1.1)
    }

    #overskrift2{
        font-size: 20px;
        margin-left:10px;
        font-family: var(--Overskrifts-font);
    }

    .Veiledning{
        display: flex;
        grid-row: 2;
        justify-content: space-between;
        margin:5px;
    }

    #Veiledningknapp{
        font-size: 20px;
        height: 30px;
        margin-right:10px;
        margin-top:6px;

        color:black;
        border-radius:20px;
        width:60px;
        height: 35px;
        border-color:white;

    }

    .Alfa{
        font-size: 75px;
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:Black;
    }

    #søkefelt{
        border-radius: 7px;
        border-style: none;
        height: 30px;
        padding:4px;
        margin:12px;
        width:90%;
        opacity: 70%;
        background-color: aliceblue;
        font-size: 16px;
    }

    #SøkeBar{
        display:flex;
        justify-content: center;
        align-items: center;

        margin-left:10px;
        color:rgb(63, 62, 62);
        font-size: 20px;
    }

    .Overlay{
        position: fixed;
        inset: 0;
        background: rgb(0 0 0 / 40%);
        backdrop-filter: blur(6px);
        
        display: flex;
        justify-content:center;
        align-items:flex-start;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }

    .Overlay.open{
        opacity: 1;
    }

    .Navbar.remove{
        opacity: 0;
    }

    #Blomsterinfo{
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        width:85%;
        height: 81%;
        padding:15px;
        position:relative;
        margin-top:20px;
        overflow: hidden;
    }

    #Lukk{
        border-radius: 5px;
        font-size: 25px;
        font-weight: 600;
        border-style: none;
        pointer-events:fill;
        padding:10px;
        width:50px;
        height: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #HeadLukk{
        display:flex;
        justify-content: space-between;
    }

    .KortBilde{
       width:40%;
    }

    #KortOverskrift{
        font-family: var(--Overskrifts-font);
        margin-top:3px;
    }

    #FlexKort{
        display:flex;
        column-gap:5px;
        margin-top:0;
    }

    .FlexBeks{
        block-size: 30px;
    }

    #MellomMarg{
        margin:0;
    }

    .TekstKort{
        font-family: var(--Underskrifts-font);
        margin:10px;
        font-size: clamp(10px, 4vw, 20px);
    }

    #IconIMG{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-size: 20px;

        position: absolute;
        bottom:85%;
        left:75%;
    }

    #Latinsk::before{
        content:"Latinsk: ";
        font-weight: bold;
    }

    #Frøtype::before{
        content:"Frøtype: ";
        font-weight: bold;
    }

    #Opprinnelse::before{
        content:"Opprinnelse: ";
        font-weight: bold;
    }

    #Lys::before{
        content:"Lys: ";
    }

    #Temperatur::before{
        content:"Temperatur: ";
    }

    #Vanning::before{
        content:"Vanning: ";
    }

    #Plassering::before{
        content:"Plassering: ";
    }

    #Blomstring::before{
        content:"Blomstringstid: ";
    }

    #Tidtilblomstring::before{
        content:"Tid til blomstring: ";
    }

    #Giftig::before{
        content:"Giftig: ";
        font-weight: bold;
    }

    #Type::before{
        content:"Type: ";
        font-weight: bold;
    }

    #Farger::before{
        content:"Farger: ";
        font-weight: bold;
    }

    #Utbredelse::before{
        content:"Utbredelse: ";
        font-weight: bold;
    }

    #Fakta::before{
        content:"Fakta: ";
        font-weight: bold;
    }
}

/* === Desktop === */
@media (min-width:450px){
    body{
        background-color: var(--bgFarge);
    }
}