@media (max-width:450px){

    body{
        display:grid;
        grid-template-rows: 50px auto auto 100px;
        height: 100vh;
        margin:0;
    }
    #Bilde{
        width:115%
    }

    #MainOverskrift{
        margin-left:15px;
        grid-row: 1;
        font-size: clamp(40px,12vw,50px);
        margin-top:0;
    }

    #overskrift2{
        font-size: 20px;
        margin-left:10px;
        font-family: var(--Overskrifts-font);
    }

    .Veiledning{
        display: flex;
        justify-content: space-between;
        margin:5px;
    }

    .Layout2{
        grid-row:2;
    }

    #Veiledningknapp{
        font-size: 20px;
        height: 30px;
        margin-right:10px;
        margin-top:6px;
    }

    .CardGrid{
        display: flex;
        flex-wrap: wrap;
        grid-row: 3;
        gap: 10px;
    }

    .MainCard{
        background: var(--Nyanse1);
        border-radius:20px;
        display: flex;
        flex-direction: row;
        margin:10px;
        min-height: 80px;
        box-shadow: var(--Skygge);
        padding:5px;
        width:100%;
    }

    #MainReverse{
        flex-direction: row-reverse;
    }

    #BeskRevers{
        margin-left:10px;
    }

    .ImgCard{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .Artsnavn{
        font-size: 10px;
        text-align: center;
    }

    .Beskrivelse{
        display:flex;
        flex-direction: column;
        font-family: var(--Underskrifts-font);
        color:var(--subtext-color);
        font-size: clamp(13px, 4vw, 30px);
        margin:5px;
    }   

    #Tekst{
        margin:3px;
    }

    .space{
        grid-row: 4;
    }
}