body{
    display: grid;
    grid-template-rows: 60px auto 100px;
}

.Gridboksen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    grid-row: 2;
}

.Cardio{
    padding:10px;
    border-radius: 20px;
    border-style:solid;
    box-shadow: 0px 0px 5px rgb(63, 62, 62);
    border-color:white;
    cursor: pointer;
    width:90%;
    height: 150px;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    text-decoration: none;
}

.Knapp{
    border-radius: 5px;
    border-style:none;
    box-shadow: var(--Skygge);
    padding:10px;
    width: 100px;
    height: 40px;
    font-family: var(--Knappe-font);
    font-weight:bold;
    font-size: 15px;
}

#overskrift{
        margin-top:0;
        margin-left:6px;
        block-size: 40px;
        grid-row:1;
        font-family: var(--Overskrifts-font);
        font-size: 28px;
        text-align: center;
    }

#FiksIMG1{
    background-image: url(../Bilder/Card.webp);
    background-position: top;
    border-style: none;
    padding:10px;
}

#FiksIMG2{
    background-image: url(../Bilder/Card2.webp);
    background-position: top;
    
}

#FiksIMG3{
    background-image: url(../Bilder/Card3.webp);
    background-position: top;
}

.Notekst{
    text-decoration: none;
    color: white;
    font-family: var(--Overskrifts-font);
    font-size: 15px;
    width:50%;
    text-shadow: 0px 0px 10px black;
    margin-left:5px;
}

#MTekst1{
    margin:5px;
    color:white;
}

#MTekst2{
    margin:5px;
    color:var(--heading-color);
}

#MTekst3{
    margin:5px;
    color:var(--heading-color);
}

.HeadSkrift{
    margin:0;
    padding:0;
    font-size: 25px;
    text-align: center;
    font-family: var(--Overskrifts-font);
}

#Button1{
    background-color: rgb(103, 157, 103);
    color:rgb(255, 255, 255);
}

#Button2{
    background-color: #F2C94C;
    color:var(--heading-color);
}

#Button3{
    background-color: #5B8FD9;
    color:rgb(255, 255, 255);
}

#OverGrid{
    grid-row: 1;
}

#UTekst{
    color:rgb(72, 69, 69);
    text-shadow: 0px 0px 10px white;
}
