
/* === Mobil (standard) === */

@media (max-width:450px){
    
    body{
        background-color:var(--bgFarge);
        display:grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto 135px;
        height: 100vh;
        margin:0;
    }

    #overskrift{
        font-size: 40px;
        text-align: center;
        margin-top:0;
        font-family: var(--Overskrifts-font);
        block-size: 40px;
        font-size: clamp(40px, 10vw, 70px);
    }
    
    #Hovedbilde{
         min-width: 100%;
         max-width: 100%;
         grid-row: 2;
         
    }

    .Gridboks{
        grid-row: 5;
        align-items: center;
        display:flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .Flexboks{
        display:flex;
        flex-direction: column;
    }

    .Bilde{
        width: 100px;
        border-radius: 20px;
    }

    .Tekst{
        font-size: 10px;
        font-family: var(--Overskrifts-font);
        color:black;
    }

    .Knapp{
        height: 130px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 15px;
        border-style: solid;
        border-color: white;
        border-width: 1.5px;
        background-color: transparent;
    }

    .Knapp:hover{
        background-color:rgb(228, 229, 210);
        transform: scale(1.1);
    }

    #overskrift2{
        font-size: 20px;
        margin-left:10px;
        font-family: var(--Overskrifts-font);
    }

    .Veiledning{
        display: flex;
        grid-row: 4;
        justify-content: space-between;
        margin-top:0;
    }

    #Veiledningknapp{
        font-size: 20px;
        height: 30px;
        margin-top:10px;
        margin-right:10px;

        color:black;
        border-radius:20px;
        width:60px;
        height: 35px;
        border-color:white;
    }

    .Blomster{
        margin:8px;
        margin-top:20px;
        height: clamp(50px,15vw,60px);
        width:95%;
        background-image: url(Bilder/Bakgrunner/Blomsterhage.png);
        background-size: cover;
        border-radius: 10px;
        cursor:pointer;
        filter: brightness(90%);
    }

    #BlomsterEng{
        grid-row: 6;
    }

    #PoliBilde{
        grid-row: 11;
        background-image: url(Bilder/Bakgrunner/Bakgrunnsbilde2.webp);
        background-position:50% 5%;
    }

    #overskrift3{
        filter: brightness(100%);
        color:rgb(255, 255, 255);
        margin:0px;
        text-shadow: 0px 5px 20px black;
        font-size: clamp(20px,15vw,29px);
        font-family: var(--Overskrifts-font);
    }

    
    
    .bakgrunnsconteiner{
        background-image: url(Bilder/Bakgrunner/Blomstereng.png);
        background-size: cover;
        background-position:center 30%;
        
        block-size: 60px;
    }

    .CardGrid{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    grid-row: 7;
    row-gap: 0;
    column-gap: 0;
    }

    .Card{
    background-color: var(--Nyanse1);
    box-shadow: var(--Skygge);
    border-radius: 20px;

    display:flex;
    flex-direction:column;
    align-items:baseline;
    
    padding:20px;
    margin:12px;

    width:100%;
    padding-top:0;
    flex-direction: column;
    padding-left:25px;
    }   

    .Knapper{
    border-radius: 5px;
    border-style:none;
    box-shadow: var(--Skygge);
    background-color: var(--Nyanse2);
    padding:10px;
    width: 100px;
    height: 40px;
    font-family: var(--Knappe-font);
    font-weight:bold;
    font-size: 15px;
    color:black;
    }

    .tekst{
    width: 95%;
    color: var(--subtext-color);
    font-family: var(--Underskrifts-font);
    width: 90%;
    font-size: clamp(15px, 5vw, 25px);
    margin-top:0;
    }

    .KortBilde{
        width:130px;
    }

    .SpanGrid{
        display: flex;
        flex-direction: row;
    }

    .overskrift4{
    color: var(--heading-color);
    font-family:var(--Overskrifts-font);
    block-size: 10%;
    }

    .Kasse{
        font-size: 14px;
        border-style: solid;
        border-radius: 10px;
        padding:6px;
        border-color: var(--Nyanse2);
        box-shadow: var(--Skygge);
        font-family: var(--Underskrifts-font);
        color:var(--subtext-color);
        margin:10px;
    }

    #Sitatboks{
        grid-row: 3;
        font-size: clamp(14px, 4vw, 20px);
    }

    #Sitatboks:before{
        content:"Dagens Sitat: ";
        font-weight: bold;
        color: rgb(66, 63, 63);
    }

    .blokk{
        block-size: 70px;
    }

    #Faktablokk{
        margin-top:10px;
    }

    #Faktaboks{
        grid-row:14;
        padding-left:7px;
        font-size: clamp(14px, 4vw, 20px);
    }

    #Faktaboks:before{
        content:"Fakta: ";
        font-weight: bold;
        color: rgb(66, 63, 63);
    }

    .Treboks{
        grid-row: 9;
        align-items: center;
        display:flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .Polinatorer{
        display: flex;
        grid-row: 12;
        justify-content: space-between;
    }
    
    .Pollinatorboks{
        grid-row: 13;
        align-items: center;
        display:flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .Tresorter{
        display: flex;
        grid-row: 8;
        justify-content: space-between;
        margin-top:0;
    }

    .KildeNO{
        color:black;
        text-decoration: none;
    }

    #GridBy{
        grid-row: 10;
        margin-top: 13px;
    }

    #Rotbilde{
        width: 130px;
    }

    #Opphavsrett{
        padding:13px;
        margin-top:13px;
        text-align: center;
        font-family: var(--Overskrifts-font);
        opacity: 70%;
        z-index: -1;
        padding-left:0;
        border-radius: 20px;
        border-color:white;
        border-style: solid;

        background-color:aliceblue;
        width:94%;
    }

    #Hidden{
        display:none;
    }

    #ONLYPC{
        display:none;
    }
}

@media (min-width: 400px) and (max-width: 450px) {
    #Hidden{
        display:flex;
    }
}




/* === Desktop === */
@media (min-width:450px){
    body{
        display:grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto 100px;        
        grid-template-columns: 200px 5fr 300px;
        height: 100vh;  
        margin:0;
    }

    #overskrift{
        grid-row:1;
        grid-column:2;
        text-align: center;
        font-family: var(--Overskrifts-font);
    }
    
    #Hovedbilde{
        grid-row: 2;
        grid-column: 2;
        width: 100%;
    }

    .Gridboks{
        display:none;
    }

    .Flexboks{
        display:none;
    }

    .Bilde{
        display:none;
    }

    .Tekst{
        display:none;
    }

    .Knapp{
        display:none;
    }

    #overskrift2{
        display:none;
    }

    .Veiledning{
        display:none;
    }

    #Veiledningknapp{
        display:none;
    }

    .Blomster{
        display:none;
    }

    #BlomsterEng{
        display:none;
    }

    #PoliBilde{
        display:none;
    }

    #overskrift3{
        display:none;
    }

    .bakgrunnsconteiner{
        background-image: url(Bilder/Blomstereng.png);
        background-size: cover;
        background-position:center 35%;
    }

    .CardGrid{
        display:none;
    }

    .Card{
        display:none;
    }   

    .Knapper{
        display:none;
    }

    .tekst{
        display:none;
    }

    .KortBilde{
        display:none;
    }

    .SpanGrid{
        display:none;
    }

    .overskrift4{
        display:none;
    }

    .Kasse{
        display:none;
    }

    #Sitatboks{
        display:none;
    }

    #Sitatboks:before{
        display:none;
    }

    .blokk{
        display:none;
    }

    #Faktablokk{
        display:none;
    }

    #Faktaboks{
        display:none;
    }

    #Faktaboks:before{
        display:none;
    }

    .Treboks{
        display:none;
    }

    .Polinatorer{
        display:none;
    }
    
    .Pollinatorboks{
        display:none;
    }

    .Tresorter{
        display:none;
    }

    .KildeNO{
        display:none;
    }

    #GridBy{
        display:none;
    }

    #Rotbilde{
        display:none;
    }

    .Contain{
        position: fixed;
        top:0;
        background-color: #EEF3F9;
        height: 100vh;
        width: 100%;
        border:solid;
    }
}